[Unit]
Description=Parse Nginx logsfiles with Goaccess

[Service]
User=root
ExecStart=goaccess /var/cache/web/nginx/logs/access.log -o /var/cache/web/nginx/goaccess/report.html --log-format=COMBINED

[Install]
WantedBy=multi-user.target
