[Desktop Entry]
Categories=Utility;Archiving;Qt;
Comment=
Exec=vorta
GenericName=Backup Software
Icon=chakra-backup
Keywords=borg;
Name=Vorta
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=vorta
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
