[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/nico/Games/League" wine start /ProgIDOpen jpegfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
