[Desktop Entry]
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Comment=Create images and edit photographs
Exec=gimp-2.99 %U
GenericName[en_GB]=Image Editor
GenericName=Image Editor
Icon=gimp
Keywords[en_GB]=GIMP;graphic;design;illustration;painting;
Keywords=GIMP;graphic;design;illustration;painting;
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/x-sun-raster;image/tiff;image/jpeg;image/x-psp;application/postscript;image/png;image/x-icon;image/x-xpixmap;image/x-exr;image/webp;image/x-webp;image/heif;image/heic;image/avif;image/svg+xml;application/pdf;image/x-wmf;image/jp2;image/x-xcursor;image/openraster;
Name=GIMP
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=gimp-2.99
Terminal=0
TerminalOptions=
TryExec=gimp-2.99
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
