[Desktop Entry]
Categories=Utility;TextEditor;Development;
Comment=Edit text files in a terminal
Exec=micro %F
GenericName=Text Editor
Icon=kate
Keywords=text;editor;syntax;terminal;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
Name=Micro
NoDisplay=true
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
TryExec=micro
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
