[Desktop Entry]
Comment[en_GB]=Play Minecraft
Comment=Play Minecraft
Exec=java -jar /home/nico/Games/Minecraft/Minecraft.jar
GenericName[en_GB]=
GenericName=
Icon=lutris_minecraft
Keywords=gaming;wine;emulator;
MimeType=
Name[en_GB]=Minecraft
Name=Minecraft
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
