[Desktop Entry]
Categories=Graphics;
Comment=An outline font editor
Exec=fontforge %U
GenericName=Font Editor
Icon=cs-fonts
Keywords=font;fonts;editor;TTF;OTF;typeface;
MimeType=application/vnd.font-fontforge-sfd;application/x-font-ttf;application/x-font-otf;application/x-font-type1;application/x-font-bdf;application/x-font-pcf;application/x-font-tex;application/font-woff;font/otf;font/ttf;font/woff;font/woff2;
Name=FontForge
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=fontforge
Terminal=0
TerminalOptions=
TryExec=fontforge
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
