[Desktop Entry]
Categories=Qt;KDE;Network;RemoteAccess;
Comment=Connect with RDP or VNC to another computer
Exec=krdc -qwindowtitle %c %u
GenericName[en_GB]=Remote Desktop Client
GenericName=Remote Desktop Client
Icon=krdc
MimeType=x-scheme-handler/vnc;x-scheme-handler/rdp
Name=Remote Desktop Client
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=krdc
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=krdc/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
