[Desktop Entry]
Categories=Qt;KDE;Network;RemoteAccess;
Comment=Desktop Sharing
Exec=krfb -qwindowtitle %c %i
GenericName[en_GB]=Desktop Sharing (VNC)
GenericName=Desktop Sharing (VNC)
Icon=krfb
Name=Desktop Sharing (VNC)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.krfb
X-DBUS-StartupType=Unique
X-DocPath=krfb/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-Wayland-Interfaces=org_kde_kwin_fake_input,org_kde_kwin_remote_access_manager
