[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=Signal Private Messenger for Linux - Beta version.
Exec=signal-desktop-beta %U
Icon=signal-desktop-beta
MimeType=x-scheme-handler/sgnl;
Name=Signal Desktop
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=Signal Beta
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
