[Desktop Entry]
Categories=GTK;System;
Comment=Monitoring software for AMD Zen-based CPUs
Exec=pkexec /usr/bin/zenmonitor
Icon=aptik-battery-monitor
Keywords=CPU;AMD;zen;system;core;speed;clock;temperature;voltage;
Name=Zenmonitor (root)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
